h1 {
  color: #1c2f2f;
  background: yellow;
  font-size: 40px;
  font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: lighter;
}

p {
  color: #1c2f2f;
  font-size: 24px;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
}

img {
	max-width:100%;
}