h1 {
  color: #1c2f2f;
  background: yellow;
  font-size: 40px;
  font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;

 
}

p {
  color: #1c2f2f;
  font-size: 24px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: lighter;
}

img {
	max-width:100%;
}

canvas {
	margin-top: 30px;
	margin-bottom: 30px;
}

#selectable .ui-selecting { 
	background: #FECA40; 
}

#selectable .ui-selected { 
	background: yellow; 
	color: #1c2f2f; 
}

#selectable { 
	list-style-type: none;
	padding: 3px; 
	width: 100%;
	text-align: center; 
}

#selectable li { 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.4em; 
	height: 18px; 
}

#footer {
	font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
}