h1 {
  color: #1c2f2f;
  background: yellow;
  font-size: 40px;
  font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 40px;
}

p {
  color: #1c2f2f;
  font-size: 24px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: lighter;
}

img {
	max-width:100%;
}

canvas {
	margin-top: 30px;
	margin-bottom: 30px;
}

#first_image_graph_paper, #second_image_graph_paper {
  z-index: 1;
  position: relative;
}

#first_image, #second_image {
  z-index: 2;
  position: relative;
  top: -400px;
  margin-bottom: -400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#median_chart_graph_paper, #main_chart_graph_paper {
	z-index: 1;
  position: relative;
}

#median_chart, #main_chart {
	z-index: 2;
  position: relative;
  top: -650px;
  margin-bottom: -650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#median_data, #main_data {
  z-index: 3;
  position: relative;
  top: -650px;
  margin-bottom: -650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  color: #B3B3B3;
  font-size: 16px;
  font-style: italic;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: lighter;
}

.hideme {
	opacity: 0;
}

#further {
  font-size: 36px;
}

.footer {
	font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
}